{% block GraphJS %}

    <link rel='stylesheet' href='/static/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/css/font-awesome.min.css' />

<!-- Load c3.css -->
    <link href="/static/css/c3.css" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
    <script src="/static/GraphingDemo/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/GraphingDemo/js/c3.min.js"></script>

<!-- Load papaparse.js -->
  <script src="/static/GraphingDemo/js/papaparse.min.js"></script>



{% endblock %}
