.gridView{
  display: grid;
  margin: 0 20px 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-auto-rows: minmax(400px, auto); */
  grid-gap: 10px;
  align-content: space-between;
  justify-content: space-around;
}
.gridView article{
  position: relative;
  display: block;
  padding: 10px;
}
