<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}


<dl>
  <dt>Model Name: {{UserModel.model_name}}</dt>
  <dt>Created on:{{UserModel.created_on}}</dt>
  <dt>Created By:NA</dt>
  <dt>EONID:{{UserModel.EONid}}</dt>
</dl>



<a href="{% url 'Display-UserModelView' %}">Create New UserModel</a>

<div>
Create Graphical View
</div>


<dl>
  <dt><a href="{% url 'Create-UserModel' %}" style="text-decoration:none">Create New UserModel</a></dt>
  <dt><a href="{% url 'model_index' %} " style="text-decoration:none">Back to models</a></dt>
</dl>




{% endblock %}
