<style>
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: 0.5em;
  border-style: inset;
  border-width: 1px;
}
</style>

{% for Model in UserModels %}
  <div class="d">
    <label class="control-label col-sm-2">{{Model.model_name}} </label>
      <a href="{% url 'Display-UserModel' Model.pk%}">view</a>
      <a href="{% url 'Update-UserModel' Model.pk%}">edit</a>
      <a href="{% url 'Delete-UserModel' Model.pk%}">delete</a>

    <hr>
  </div>
{% endfor%}
