{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}


  <h2>Change UserName</h2>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></li>
        {% endfor %}
    </ul>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="from-group">
      <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{field.error}}</span>
      </div>
      <label class="control-label col-sm-2">{{field.label_tag}}</label>
      <div class="col-sm-10">{{field}}</div>
    </div>
    {% endfor%}

    <button type="submit">Save changes</button>
  </form>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}
{% endblock %}
