{% extends 'base.html' %}


{% block title %}Detailed group{% endblock %}

{% block content %}
v1.0
<dl>
  <dt>Group Name: {{Group.name}}</dt>
  <dt>About: {{Group.about}}</dt>
  <!--<dt>Created on: NA</dt> -->

  <dt>Created by: </dt>
  <!-- <dt>EONID:{{UserModel.EONid}}</dt> -->
</dl>

Members:
{% if members %}
  {% for acc in members %}
    <div>
      {{ acc.user }}
    </div>
  {% endfor%}

{% else %}
    <p>No Friends found!!</p>
{% endif %}

{% if Viewer_Member %}

  Invite Friends:
  <hr>
    {% if Friends %}
      {% for acc in Friends %}
        <div>
          {{ acc.user }} <a href="#"> Invite </a>
        </div>
      {% endfor%}

    {% else %}
        <p>No Friends found!!</p>
    {% endif %}


    <head>
        <title>Search Users</title>
        <hr>
    </head>
    <body>
      <form action="#" method="get">
        <!--<form action="{% url 'Manage_members' Group.name 'search' 0 %}" method="get">-->
            <h>Search for Users to invite: </h><input type="text" name="q">
            <input type="submit" value="SEARCH">
        </form>
    </body>

    <p>You searched for: <strong>{{ query }}</strong></p>
    {% if users %}
        <p>Found {{ users|length }} users{{ users|pluralize }}.</p>
        <ul>
            {% for user in users %}
            <li>User: {{ user.username }} <a href="{% url 'change_friendship' 'add' user.pk%}"> Add friend </a> <a href="{% url 'Manage_members' Group.name 'add' user.pk %}"> Invite </a></li>

            {% endfor %}
        </ul>
    {% else %}
      <p>No users matched your search criteria.</p>
    {% endif %}
{% else %}
  Log on
{% endif %}



{% endblock %}
