{% extends 'base.html' %}


{% block title %}Detailed group{% endblock %}




{% block content %}


<dl>
  <h>Group Name: {{Group.name}}</h>
  {% if Forum_ID %}
    <br><h>Group Forum: <a href="{% url 'forum_view' in_id=Forum_ID%}">{{Group.name}} Forum</a></h>
  {% endif %}
  <dt>About: {{Group.about}}</dt>
  <!--<dt>Created on: NA</dt> -->

  <!-- <dt>EONID:{{UserModel.EONid}}</dt> -->
  {% if Edit_Privlege %}
      <!-- <small>(<a href="">Settings</a>)</small> -->
  {% endif %}
</dl>

Members:
{% if members %}
  {% if Manage_Privlege %}
      <small><a href="{% url 'Manage_Members' Group.name %}"> Edit Member Privleges </a></small>
  {% endif %}
  <hr>
  {% for acc in members %}
    <div>
      {{ acc.user }} <a href="{% url 'display_UserInfo' acc.user %}"> view </a>
    </div>
  {% endfor%}
  <hr>
{% else %}
  <p>No Members found!!</p>
{% endif %}



{% if Viewer_Member %}

<br />
<br />

Invite Friends:
<hr>
    {% if Friends %}
      {% for acc in Friends %}
        <div>
          {{ acc.user }} <a href="{% url 'Manage_Recruits' Group.name 'Invite' acc.user.pk%}"> Invite </a>
        </div>
      {% endfor%}

    {% else %}
        <p>No Friends outside the group found!!</p>
    {% endif %}
<hr>

<br />
<br />

Join Group Requsests:
<small><a href="{% url 'Manage_Recruits' Group.name 'search' 0%}">Search for users to Invite</a></small>
<hr>
    {% if JoinGroupRequsts %}
      {% for acc in JoinGroupRequsts %}
        <div>
          {{ acc.user }} <a href="{% url 'Manage_Recruits' Group.name 'AcceptAppliedRequest' acc.user.pk%}"> Accept </a>
        </div>
      {% endfor%}

    {% else %}
        <p>No new requsests to join found!!</p>
    {% endif %}
    <hr>

    <p><a href="{% url 'delete_group' Group.pk %}">Delete Group</a></p>

{% else %}
  {%  if user.is_authenticated %}
    Not a member ? <a href="{% url 'Manage_Recruits' Group.name 'Apply' 0%}"> Apply </a>
  {% else %}
  You are not loged in.  Login to apply:<a href="{% url 'login'%}"> Login</a>
  {% endif %}
{% endif %}



{% endblock %}
