{% extends 'base.html' %}


{% block title %}Detailed group{% endblock %}

{% block content %}
<dl>
  <h>Group Name: {{Group.name}}</h>
  <dt>About: {{Group.about}}</dt>
  <!--<dt>Created on: NA</dt> -->

  <dt>Admin:  <a href="#"> view </a> </dt>
  <!-- <dt>EONID:{{UserModel.EONid}}</dt> -->
</dl>

Members:
{% if members %}
  {% if Admin %}
      <small><a href="{% url 'Manage_Members' Group.name %}"> Edit Member Privleges </a></small>
  {% endif %}
  <hr>
  {% for acc in members %}
    <div>
      {{ acc.user }} <a href="{% url 'display_UserInfo' acc.user %}"> view </a>
    </div>
  {% endfor%}
  <hr>
{% else %}
  <p>No Members found!!</p>
{% endif %}



{% if Viewer_Member %}

<br />
<br />

Invite Friends:
<hr>
    {% if Friends %}
      {% for acc in Friends %}
        <div>
          {{ acc.user }} <a href="{% url 'Manage_Recruits' Group.name 'Invite' acc.user.pk%}"> Invite </a>
        </div>
      {% endfor%}

    {% else %}
        <p>No Friends found!!</p>
    {% endif %}
<hr>

<br />
<br />

Join Group Requsests:
<small><a href="{% url 'Manage_Recruits' Group.name 'search' 0%}">Search for users to Invite</a></small>
<hr>
    {% if JoinGroupRequsts %}
      {% for acc in JoinGroupRequsts %}
        <div>
          {{ acc.user }} <a href="{% url 'Manage_Recruits' Group.name 'AcceptAppliedRequest' acc.user.pk%}"> Accept </a>
        </div>
      {% endfor%}

    {% else %}
        <p>No new requsests to join found!!</p>
    {% endif %}
    <hr>

    <p><a href="{% url 'delete_group' Group.pk %}">Delete Group</a></p>

{% else %}
  Not a member ? <a href="{% url 'Manage_Recruits' Group.name 'apply' 0%}"> Apply </a>
{% endif %}



{% endblock %}
