{% extends 'base.html' %}


{% block title %}Detailed group{% endblock %}

{% block content %}

{%  if user.is_authenticated %}
<dl>
  <dt>Invite users to the group: {{Group.name}}</dt>

</dl>


    <head>
        <title>Search Users</title>
    </head>
    <body>

        <form action="{% url 'Manage_Recruits' Group.name 'search' 0%}" method="get">
            <h>Search Users: </h><input type="text" name="q">
            <input type="submit" value="Search">
        </form>
    </body>


    <p>You searched for: <strong>{{ query }}</strong></p>
    {% if users %}
        <p>Found {{ users|length }} users{{ users|pluralize }}.</p>
        <ul>
            {% for user in users %}
            <li>User: {{ user.username }} <a href="{% url 'change_friendship' 'add' user.pk%}"> Send Friend Request</a> /<a href="{% url 'Manage_Recruits' Group.name 'Invite' user.pk %}"> Invite </a></li>

            {% endfor %}
        </ul>
    {% else %}
      <p>No users matched your search criteria.</p>
    {% endif %}
{% else %}
  Log on
{% endif %}



{% endblock %}
