{% extends 'base.html' %}


{% block title %}Dashboard{% endblock %}

{% block content %}

  {% if user.is_authenticated %}

  <p><a href="{% url 'create_group'%}">Create Group</a></p>

  Groups:
  {% if Groups %}

  {% for Group in Groups %}
  <hr>
    <div>
      <p>{{ Group.name }}  <a href="{% url 'view-group' Group.name%}">View</a> <a href="#">Leave</a> </p><!--{% url 'Manage_members' Group.name 'leave' 0%} -->
        <hr>
    </div>
  {% endfor%}
  {% else %}
      <p> you have no Groups matched your account.</p>
  {% endif %}



    <p><a href="#">Group invites</a></p>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}
