{% extends 'base.html' %}


{% block title %}Dashboard{% endblock %}

{% block content %}
  <h><b>All Groups</b></h>
  {% if user.is_authenticated %} <small>(<a href="{% url 'create_group'%}">Create Group</a>)</small>
  <br />
  <hr>

    <form action="/group/search/Results/" method="get">
      <h>Search Groups</h>
      <small>
        <input type="text" name="q">
        <input type="submit" value="Search">
      </small>
    </form>



  <br /> <br />
  <h><b>Popular Groups</b></h>
  <br />
  <hr>
  {% if Groups %}
    {% for Group in Groups %}
      <div>
        <p>{{ Group.name }}  <a href="{% url 'view-group' Group.name%}">View</a></p><!-- <a href="{% url 'Manage_Recruits' Group.name 'Remove' user.pk%}">Leave</a>  -->
      </div>
    {% endfor%}
  {% else %}
      <p> There are currently no groups found on the platform.</p>
  {% endif %}
    <hr>

{% else %}
<p>PleaseLogin.</p>
<form action="/group/search/Results/" method="get">
  <h>Search Groups</h>
  <small>
    <input type="text" name="q">
    <input type="submit" value="Search">
  </small>
</form>
{% endif %}




{% endblock %}
