{% extends 'base.html' %}


{% block title %}Detailed group{% endblock %}

{% block content %}
<dl>
  <h><b>{{Group.name}}</b></h>
  <hr>
</dl>




{% if Admin %}
<style>
.collapsible {
  border-radius: 28px;
  color: #000000;
  font-size: 15px;
  background-color: #80aaff;
}

.active, .collapsible:hover {
  border-radius: 28px;
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
<!--
<small>
  <b>Group Settings:</b>
</small>

<a class="collapsible">Edit</a>
-->

  <div class="content">
    <small>
      Make group activities:
      <form action="" method="get">
          <input type="radio" name="Private" value="Private"> Private<br>
          <input type="radio" name="Private" value="Public"> Public<br>
          <input type="submit" value="Search">
      </form>
      <br />
      Make group edits:
      <form action="" method="get">
          <input type="radio" name="Editable" value="Private"> Private<br>
          <input type="radio" name="Editable" value="Public"> Public<br>
          <input type="submit" value="Search">
      </form>
    </small>
  </div>

<br />
<br />
<h><b>Manage Member's Privleges:</b></h>
<hr>
  {% if members %}
    {% for acc in members %}
      <div>
        {{ acc.user }}:
        <a href="{% url 'display_UserInfo' acc.user %}"> view </a>
        <a class="collapsible">Change Privleges</a>
        <div class="content">
          <small>
            <a href="{% url 'Manage_Privlege' Group.name 'MakeAdmin' acc.user.pk %}"> Admin </a> /
            <a href="{% url 'Manage_Privlege' Group.name 'MakeModerator' acc.user.pk %}"> Moderator </a> /
            <a href="{% url 'Manage_Privlege' Group.name 'MakeMember' acc.user.pk %}"> Member </a> /
            <a href="{% url 'Manage_Privlege' Group.name 'RemoveMember' acc.user.pk %}"> Remove</a>
           </small>
        </div>
      </div>
    {% endfor%}
    <hr>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>
  {% else %}
    <p>No Members found!!</p>
  {% endif %}

{% else %}
  Not an Admin or Moderator for: {{Group.name}}?  <a href=""> Apply </a>
{% endif %}



{% endblock %}
