<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{% block title %}EON{% endblock %}</title>

  <!-- Global styling -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/_site.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/socialBar.css' %}"/>
  <!-- Per-view styling -->
  {% block stylesheets %}
  {% endblock %}

  <!-- Global JS (nothing rn) -->
  <!-- Per-view JS -->
  {% block javascripts %}
  {% endblock %}


</head>
<body>
<navbar>
  <a href="{% url 'home' %}">
    <img class="logo" src="{% static 'img/logos/Pandemic_Processing_Logo_small.png' %}" alt="EON_logo"/>
  </a>
  <div>
    <a href="{% url 'home' %}">
      <h1> Epidemiological Modeling Portal </h1>
    </a>
    <div id="user_section">
      {% if user.is_authenticated %}
      Hi {{ user.username }}! |
      <a href="{% url 'logout' %}">logout</a>
      {% else %}
      <a href="{% url 'login' %}">login</a> |
      <a href="{% url 'signup' %}">signup</a>
      {% endif %}
    </div>
  </div>
</navbar>

<div class="container">
  <div class="sidenav">
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'home' %}">Users</a>
    <a href="{% url 'forum_index' %}">Forums</a>
    <a href="{% url 'model_index' %}">Models</a>
  </div>
  <div class="main">
    {% block content %}
    {% endblock %}
  </div>
</div>
<footer>
  <div class="main">
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Sponsors</a>
    <a href="https://www.cefns.nau.edu/capstone/projects/CS/2019/PandemicProcessing-S19/" target="_blank">Capstone</a>
  </div>
  <div class="socialBar">
    <a href="#">
      <img class="off" src="{% static 'img/social_icons/email.off.png'%}" title="Email">
      <img class="on" src="{% static 'img/social_icons/email.on.png'%}" title="Email">
    </a>
  </div>
</footer>
</body>
</html>
