
<div id="mySidenav" class="sidenav" >
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Epic First Model</a>
  <hr>
  <p style="color:white;">Comment By: cool guy: Text Text Text</p>
  <hr>
  <p style="color:white;">Comment By: less cool guy: Text Text Text</p>
</div>

<!-- templates/home.html-->
{% extends 'base.html' %}


{% block title %}Dashboard{% endblock %}

{% block content %}

  {% if user.is_authenticated %}

    {% block stylesheets %}
      {% include 'model/SideBar/ModelSideBar.html' %}
    {% endblock %}

<h1>Welcome to your Dashboard</h1>

<section>
    <h2>My Models</h2>
    <hr>
    {% include 'model/UserModels_list.html'%}



    <button style="font-size:30px;cursor:pointer" onclick="openNav()">Epic First Model</button>


    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>

</section>
<hr>

<section>
  <h2>Friends</h2>
</section>
<hr>

<section>
  <h2>Friend Requests</h2>
  {% for request in Friend %}
    <div>
      {{ request.user }} <a href="{% url 'change_friendship' 'accept' request.user.pk%}"> Accept</a>/<a href="{% url 'change_friendship' 'reject' request.pk%}"> decline</a>
    </div>
  {% endfor%}
</section>
<hr>



<section>
  <h2>Groups</h2>
</section>
<hr>

<section>
  <h2>Group invites:</h2>

  {% if GroupInvites %}
    {% for Invite in GroupInvites %}
      <p> {{Invite.group_member}} Invited you to their group: {{Invite.group}} <a href="{% url 'Manage_Recruits' Invite.group.name 'Accept_Invite' user.pk%}">Accept</a> / <a href="#">Decline</a></p>
    {% endfor%}

  {% else %}
    <p> you have no Groups matched your account.</p>
  {% endif %}
</section>
<hr>


  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}
