<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gridView.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/views/home.css' %}"/>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'js/hello_world.js' %}"></script>
{% endblock %}

{% block content %}
<header id="home_header">
  <h1>EON</h1>
  <h2>What is EON?</h2>
  <quote>EON is a public repository for pathologen models. EON enables you to upload your own model code, and present your data on a two dimensional graph. Parameters of that data can be modified at your discretion by other users on the site so that others can interact with your model.</quote>
</header>
<div id="button-container">
  <a id="upload-model" type="button" href="/model/CreateUserModel/">Upload your first model</a>
</div>

<!-- <h1>Popular Models:</h1>
<div id="popular_models" class="gridView modelGrid">

</div>
<h1>My Models:</h1>
<div id="my_models" class="gridView modelGrid">

</div> -->
{% endblock %}
