<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}


<dl>
  <dt>Model Name: {{UserModel.model_name}}</dt>
  <dt>Created on: {{UserModel.created_on}}</dt>
  <dt>Created by: {{owner_name}}</dt>
  <!-- <dt>EONID:{{UserModel.EONid}}</dt> -->
</dl>

<div id="model_view">
  <form method="post" action="{{ url_path }}">

    {% csrf_token %}
    {% include 'model/form-template.html'%}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="Submit">Submit</button>
      </div>

    </div>

  </form>
</div>


<dl>
  <dt><a href="{% url 'model_index' %} " style="text-decoration:none">Back to models</a></dt>
</dl>
<script type="text/javascript">




{% endblock %}
