<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <form action="" method="post" class="form-horizontal" enctype="multipart/form-data" >
      <div class="form-group">
        Model Code: <input type="file" name="model_code" id="model_code" accept=".zip">
      </div>
      {% csrf_token %}
      {% include 'model/form-template.html'%}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="Submit">Submit</button>
        </div>

      </div>

  </form>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

<!-- <script type="text/javascript">
  index=1;
  document.getElementById("add_field_button").addEventListener("click", function(){
    let field = document.createElement("INPUT");
    field.setAttribute("type", "text");
    field.setAttribute("id","arg_"+index.toString());
    field.setAttribute("class","argument_field");
    index++;
    document.getElementById("argument_fields_div").appendChild(field);
    });
</script> -->
{% endblock %}
