<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}




{% if user.is_authenticated %}

  <form action="" method="post" class="form-horizontal" enctype="multipart/form-data" >
      <div class="form-group">
        File: <input type="file" name="fileToUpload" id="fileToUpload" accept=".zip">
      </div>
      {% csrf_token %}
      {% include 'model/form-template.html'%}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="Submit">Submit</button>
        </div>

      </div>

  </form>




  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}


{% endblock %}
