<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div id="graph_div">
</div>
<form method="post" action="{{ url_path }}">
  {% csrf_token %}
  {% for param_dict in parameters %}
    {% if param_dict.lower_bound != param_dict.upper_bound %}
      <div id='input_container'>
        {{param_dict.name}}
        <input name="slider_{{param_dict.name}}" id="slider_{{param_dict.name}}" step="{{param_dict.step}}" width="400" type="range" min="{{param_dict.lower_bound}}" max="{{param_dict.upper_bound}}" value="{{param_dict.default}}" onchange="show_value(this.value,slider_value_{{param_dict.name}});">
        <span id="slider_value_{{param_dict.name}}" style="color:red;"></span>
      </div>
    {% endif %}
  {% endfor %}
    <button type="Submit">Submit</button>
</form>

<div class="col-sm">
  <h3>Thread Name: {{thread.thread_name}}</h3>
  <p>Author: {{thread.poster}}</p>
  <p>Posted at: {{thread.date}}</p>
</div>
<div class="col-sm">
  {{thread.description}}
</div><br>
<a href="/forum/view/thread/{{thread.id}}/comment"><button type="submit">Add Comment</button></a>
{% if comments %}
<ul style="list-style: none; padding-left: 0;">
  {% for comment in comments %}
    <li>
      Posted by: {{comment.poster}}<br>
      Created at: {{comment.date}}<br><br>
      {{comment.content}}<br><br>
    </li>
    <hr />
  {% endfor %}
</ul>
{% else %}
  <p>There are no comments on this post.</p>
{% endif %}

<script src="http://dygraphs.com/dist/dygraph.js"></script>
<script type="text/javascript">

g = new Dygraph(
    document.getElementById("graph_div"),
    // For possible data formats, see http://dygraphs.com/data.html
    // The x-values could also be dates, e.g. "2012/03/15"
    {{ columns }},
    {
      // options go here. See http://dygraphs.com/options.html
      legend: 'always',
      animatedZooms: true,
      title: "",
      labels:["{{ x_axis_name }}","{{ y_axis_name }}"]
    });


function show_value(x,slider_name) {
  slider_name.innerHTML=x;
}
</script>
{% endblock %}
