<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="container">
  {{ graph_name }}
        <canvas id="graph" width="800px"></canvas>
</div>

<form method="post" action="{{ url_path }}">
  {% csrf_token %}
  {% for param_dict in parameters %}
    {% if param_dict.lower_bound != param_dict.upper_bound %}
      <div id='input_container'>
        {{param_dict.name}}
        <input name="slider_{{param_dict.name}}" id="slider_{{param_dict.name}}" step="{{param_dict.step}}" width="400" type="range" min="{{param_dict.lower_bound}}" max="{{param_dict.upper_bound}}" value="{{param_dict.default}}" onchange="show_value(this.value,slider_value_{{param_dict.name}});">
        <span id="slider_value_{{param_dict.name}}" style="color:red;"></span>
      </div>
    {% endif %}
  {% endfor %}
    <button type="Submit">Submit</button>
</form>

<div class="col-sm">
  <h3>Thread Name: {{thread.thread_name}}</h3>
  <p>Author: {{thread.poster}}</p>
  <p>Posted at: {{thread.date}}</p>
</div>
<div class="col-sm">
  {{thread.description}}
</div><br>
<a href="/forum/view/thread/{{thread.id}}/comment"><button type="submit">Add Comment</button></a>
{% if comments %}
<ul style="list-style: none; padding-left: 0;">
  {% for comment in comments %}
    <li>
      Posted by: {{comment.poster}}<br>
      Created at: {{comment.date}}<br><br>
      {{comment.content}}<br><br>
    </li>
    <hr />
  {% endfor %}
</ul>
{% else %}
  <p>There are no comments on this post.</p>
{% endif %}

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
let x_array = {{ x_axis|safe }};
let y_array = {{ y_axis|safe }};
console.log(x_array);
console.log(y_array);

function show_value(x,slider_name) {
  slider_name.innerHTML=x;
}
function renderChart(data, labels) {
    var ctx = document.getElementById("graph").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: "",
                data: data,
            }]
        },
        options: {
                responsive: false
        },
    });
}
renderChart(x_array, y_array);
</script>
{% endblock %}
