{% extends 'base.html' %}
{% block title %}Forum Index{% endblock %}

{% block content %}
<h1>Forums</h1>
  {% if forums %}
  <ul style="list-style: none; padding-left: 0;">
    {% for forum in forums %}
      <li>
        <a href="/forum/view/{{forum.id}}">{{ forum.topic_name }}</a>
      </li>
      <hr />
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no forums.</p>
  {% endif %}
  {% if request.user.is_superuser %}
    <br><a href="/forum/create"><button style="font-size:28px;">New Forum</button></a>
  {% endif %}
{% endblock %}
