{% extends 'base.html' %}


{% block title %}Dashboard{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
  <h><b>Friends:</b></h>
  <hr>
  {% if Friend_Requests %}
    {% for acc in Friend %}
      <div>
        {{ acc.user }}
      </div>
      {% endfor%}
    {% else %}
        <p> No Friends Found.</p>
    {% endif %}
  <hr>
  <p><a href="{% url 'list_FriendRequest' %}">View Friend Requests</a></p>


  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}

{% endblock %}
